In [1]:
import pandas as pd
import numpy as np
import os
from utils import *

In [2]:
x=loadpkl('/home/vibhav_student/2Dcnn/data/w_all_data/x_tokenised_preprocessed_qfix_pad_unk.pkl')
vocab=loadpkl('/home/vibhav_student/2Dcnn/data/w_all_data/vocab_5-15_unk_qfix.pkl')

In [3]:
vocab.index('<PAD>')

2384110

In [4]:
x.shape

(2256758, 15, 5, 1)

In [5]:
x=x.reshape(x.shape[0],x.shape[1]*x.shape[2],x.shape[-1])

In [6]:
x.shape

(2256758, 75, 1)

In [7]:
x[1].shape

(75, 1)

In [8]:
x[1][0]

array([2384110])

In [37]:
pad_idx = [vocab.index('<PAD>')]

l = x[1][x[1]!=pad_idx].reshape(-1,1)

pad_arr = np.full((75, 1), pad_idx)

idx = int((75-len(l))/2)
pad_arr[idx:idx+len(l)]=l

In [60]:
%%time
pad_idx = [vocab.index('<PAD>')]
# x = x.tolist()
f_l = []
for i,t in enumerate(x):
    pad_arr = np.full((75, 1), pad_idx)
#     pad_arr = np.full((75, 1), pad_idx).tolist()
#     l = list(filter(lambda a: a != pad_idx, x[i]))
    l = x[i][x[i]!=pad_idx].reshape(-1,1)
    idx = int((75-len(l))/2)
    pad_arr[idx:idx+len(l)]=l
    f_l.append(pad_arr.tolist())

CPU times: user 1min 29s, sys: 7.96 s, total: 1min 37s
Wall time: 1min 34s

In [61]:
np.array(f_l).shape

(2256758, 75, 1)

In [67]:
savepkl('/home/vibhav_student/2Dcnn/data/w_all_data/x_tokenised_preprocessed_qfix_pad_unk_1D.pkl',np.array(f_l))

In [73]:
%%time
pad_idx = [vocab.index('<PAD>')]
# x = x.tolist()
f_l_unpad = []
for i,t in enumerate(x):
    l = x[i][x[i]!=pad_idx].reshape(-1,1)
    f_l_unpad.append(l)

CPU times: user 9.55 s, sys: 250 ms, total: 9.8 s
Wall time: 9.81 s

In [76]:
savepkl('/home/vibhav_student/2Dcnn/data/w_all_data/x_tokenised_preprocessed_qfix_1D.pkl',np.array(f_l_unpad))

In [119]:
# df=pd.read_csv('/home/vibhav_student/2Dcnn/data/w_all_data/baseline_f_tq-tkn.csv')
df=loadpkl('/home/vibhav_student/2Dcnn/data/w_all_data/baseline_f_tq-tkn-pad_qfix.csv')

In [120]:
df.head()

,query_id,query,table_id,row,col,nul,in_link,out_link,pgcount,tImp,...,remax,resum,reavg,resim,query_l,rel,table_tkn,query_tkn,table_pad,query_pad
0,1,world interest rates Table,table-0875-680,8,2,0,31,21,51438,1.0,...,0.241209,3.716354,0.033785,0.281130,4,0,"[[['risk'], []], [[], []], [[], []], [[], []],...","['world_interest_rates', 'table']","[[[2384110], [2384110], [2384110], [2384110], ...","[[[2384110], [2384110], [2384110], [2384110], ..."
1,1,world interest rates Table,table-1020-619,4,3,0,18,0,324,1.0,...,1.000000,8.075247,0.073411,0.710250,4,0,"[[['headline'], [], []], [['core'], [], []], [...","['world_interest_rates', 'table']","[[[2384110], [2384110], [2384110], [2384110], ...","[[[2384110], [2384110], [2384110], [2384110], ..."
2,1,world interest rates Table,table-0288-531,3,5,0,23,22,26419,0.5,...,0.067373,0.365818,0.003326,0.033680,4,0,"[[['stocks'], [], [], [], []], [['bonds'], [],...","['world_interest_rates', 'table']","[[[2384110], [2384110], [2384110], [2384110], ...","[[[2384110], [2384110], [2384110], [2384110], ..."
3,1,world interest rates Table,table-0288-530,4,5,1,23,22,26419,0.5,...,0.067373,0.365818,0.003326,0.033680,4,0,"[[['stocks'], [], [], [], []], [['bonds'], [],...","['world_interest_rates', 'table']","[[[2384110], [2384110], [2384110], [2384110], ...","[[[2384110], [2384110], [2384110], [2384110], ..."
4,1,world interest rates Table,table-1000-57,2,2,0,38,1,2268,1.0,...,0.226134,4.564622,0.041497,0.279899,4,0,"[[['t_bills'], ['return']], [['15-year_dated_s...","['world_interest_rates', 'table']","[[[2384110], [2384110], [2384110], [2384110], ...","[[[2384110], [2384110], [2384110], [2384110], ..."

In [127]:
df['table_pad'][df['table_pad'].apply(lambda x:len(np.array(x).shape)!=3)]

Series([], Name: table_pad, dtype: object)

In [130]:
df['table_pad'] = df['table_pad'].apply(lambda x:x.reshape(75,1))

In [134]:
df['query_pad'] = df['query_pad'].apply(lambda x:x.reshape(75,1))

In [136]:
savepkl('/home/vibhav_student/1Dcnn/data/baseline_f_tq-tkn-pad_qfix_1D.csv',df)